# VS IDE artifacts
.vs/
*.user
*.suo

# Build outputs
bin/
obj/
artifacts/
AppPackages/

# dotnet
*.nupkg
*.snupkg

# Rider
.idea/

# dotnet secrets
**/secrets.json

# Environment secrets
.env
.deepseek/

# Mono local registry artifacts
**/.mono/
